
article.tweet {
  display:flex;
  flex-direction: column;
  overflow: hidden;
  border-style: solid;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

article.tweet header {
  background: none;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  width:  95%;
}

article.tweet header img {
  height: 50%;
  margin-right: 0.5em;
}

h3.user {
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

h3.handle {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  margin-left: auto;
  color: lightgray;
}

p.tweetBody {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  width:  95%;
  border-bottom: groove;
  border-color: black;
  padding-bottom: 1em;
}

article.tweet footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
}

p.date {
  font-size: 20px;
}

div.icons {
  margin-left: auto;
}

div.icons i:hover {
  color: darksalmon;
}

article.tweet:hover {
  box-shadow: 10px 6px 5px darksalmon;
}
