textarea {
resize: none;
white-space: nowrap;
border: none;
border-bottom: groove;
border-color: darkgray;
width: 100%;
background-color: #f4f1ec;
height: 2em;
}

input:focus { 
  outline: none;
}

textarea:focus { 
  outline: none;
}

button {
  overflow: visible;
  font-family: 'Bungee';
  background-color: #4056a1;
  color: white;
  border: none;
}

#submitTweet:hover {
  background-color:#98aced;
}
#submitTweet:active {
  background-color: salmon;
  transform: translateY(1px);
}

div.submission {
  display:flex;
  overflow:auto;
}

.counter {
  font-family:'Bungee', cursive;
  margin-left:auto;
}

.charCountRed {
  color: red;
}

section {
  width: 100%;
  overflow: auto; 
}

.error {
  display: none;
  color: red;
  border-style: solid;
  margin-top: 1em;

}

.error p {
  display: none;
  margin-left: 1em;
}


